{% extends 'base.html.twig' %}
{% block body %}
    <div class="panel panel-default">
        <div class="panel-heading">
            Horas Lançadas
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Descrição</th>
                        <th>Funcionario</th>
                        <th>Projeto</th>
                        <th>Ações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for horaLancada in horasLancadas %}
                        <tr>
                            <td><a href="/horaLancada/edita/{{ horaLancada.id }}">{{ horaLancada.descricao }}</a></td>
                            <td>{{ horaLancada.funcionario }}</td>
                            <td>{{ horaLancada.projeto }}</td>
                            <td>
                                <a class="btn btn-danger" href="/horaLancada/remove/{{ horaLancada.id }}">remover</a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}